.homeRecmdItem{
  .homeRecmdDetail{
    padding: 10px;
    background-color: #FFFFFF;
  }
  .prodImg{
    width: 100%;
    background-color: #EFEFEF;
    padding: 10px;
  }
  .prodName{
    font-weight: 700;
    margin: 0px;
  }
  .prodCat{
    margin-bottom: 20px;
  }
  .prodCost{
    font-weight: 700;
  }
}
