.topHeader{
  width: 100%;
  background: #000000;
  color: #FFFFFF;
  height: auto;
  padding: 10px 25px;
  text-align: right;
  .cSelect{
    color: #FFFFFF;
    padding: 10px;
    float: left;
    text-decoration: none;
    display: inline-block;
  }
  .topLinks{
    color: #a6afc1;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
  }
  .topLinks:hover{
    color: #FFFFFF;
  }
  .accLinks{
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
  }
}
