.topHeader{
  width: 100%;
  background: #fff;
  color: #FFFFFF;
  height: auto;
  padding: 2px 25px;
  text-align: right;
  border-bottom: 1px solid #eaeaea;
  .cSelect{
    color: #343434;
    padding: 10px;
    float: left;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }
  .topLinks{
    color: #a6afc1;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }
  .topLinks:hover{
    color: #343434;
  }
  .accLinks{
    color:#343434;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }
}
