.signUpImg{
  width: 70%;
}
.signUpBannerArea{
  margin: 20px auto;
  padding: 20px;
  font-size: 22px;
  font-weight: 700;
  background: url(//raderain-cdn.sirv.com/devs/home/1521464080683.1564416168.jpg?format=webp) no-repeat center;
}
