.footer{
  height: 200px;
  background-color: #2c2c2c;
  color: #EFEFEF;
  .footerarea{
    margin: 0 auto;
    padding: 20px 0 0 0;
    max-width: 72rem;
  }
  .copyright{
    margin-top: 50px;
  }
  hr{
    margin: 0 auto;
    padding: 20px 0 0 0;
    max-width: 72rem;
  }
}
